doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../sass/main.css")
    body
        <!-- Main start -->
        main
            section.main-section
                div.container.main-section__card-items
                    div.card-items__title
                        h1 KATY BIKOVICHE
                        p Product designer, director 
                            span @ theshithole
                    div.title__text-block
                        p Currently based in Singapore
                        h4 1° 17’ 22 N, 103° 51’ 0 E
                    div.main-section__footer D S E
        <!-- Main end -->